@import url(//db.onlinewebfonts.com/c/2a01178a765f83ae2b7764a3cfbe4303?family=Avenir+LT+Pro+45+Book);

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Avenir LT Pro 45 Book', sans-serif;
}
